<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
	<div class="container">
		<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" class="btn btn-danger"/>
		</form>
		<div class="panel panel-default">
			<ul class="nav nav-tabs">
				<li role="presentation">
					<a href="/pedido">
						<span class="glyphicon glyphicon-pencil"/>
						Realizar/Finalizar Pedido
					</a>
				</li>
				<li role="presentation">
					<a href="/itemPedido2">
						<span class="glyphicon glyphicon-duplicate"/>
						Acompanhar pedido
					</a>
				</li>
				<li role="presentation" class="active">
					<a href="/mesa">
						<span class="glyphicon glyphicon-list"/>
						Mesas
					</a>
				</li>
				<li role="presentation">
					<a href="/prato">
						<span class="glyphicon glyphicon-list-alt"/>
						Cardápio
					</a>
				</li>
				<li role="presentation">
					<a href="/cozinha">
						<span class="glyphicon glyphicon-cutlery"/>
						Cozinha
					</a>
				</li>
			</ul>			
			<h3 class = "list-group-item active">Mesas</h3>
			<div class="panel-body">
				<form class="form" method="post" action="/mesa/save">
				<fieldset>
	                	<legend>Cadastrar uma Mesa</legend>
					<div class="form-group">
						<label>Número da Mesa</label> 
						<input type="number" name="id" class="form-control"/>
						<label>Número de cadeiras</label> 
						<input type="number" name="numCadeiras" class="form-control"/>
						<input type="hidden" name="estado" value="1"/>
						<!-- <input type="hidden" name="token" th:value="${_csrf.token}"/> -->
					</div>
					<button type="submit" class="btn .btn-primary">Salvar</button>
				</fieldset>
				</form>	
				<div class="panel panel-default">  
  					<div class="panel-heading">Lista de Mesas</div>	
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Número</th>
								<th>Cadeiras</th>
								<th>Livre</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="mesa:${mesas}">
								<td th:text="${mesa.id}"></td>
								<td th:text="${mesa.numCadeiras}"></td>
								<td>
									<div th:if="${mesa.estado} == 1">
										SIM<span class="glyphicon glyphicon-thumbs-up"/>
									</div>
									<div th:if="${mesa.estado} == 0">
										NÃO<span class="glyphicon glyphicon-thumbs-down"/>
									</div>
								</td>
								<td>
									<a th:href="@{/mesa/del(id=${mesa.id})}"  class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"/>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>